@{
    ViewBag.Title = "About";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p>Welcome to the Urdu News Annotator App, a collaborative project developed by a dedicated team of students from the University of the Punjab, Gujranwala Campus.</p>

    <h3>Our Mission</h3>
    <p>In an era where misinformation spreads rapidly, our mission is to combat the menace of fake news by developing a sophisticated system for detecting and categorizing news articles in Urdu. This project stems from our commitment to fostering information integrity and media literacy.</p>

    <h3>Team Members</h3>
    <p>
        <strong>Muhammad Shahzaib</strong><br>
        Role: Team Administrator <br>
        Muhammad Shahzaib played a pivotal role in the technical implementation of our Urdu News Annotator App. Leveraging his expertise in ASP.NET framework and database management, he ensured the seamless functionality of our backend system. His dedication and leadership were instrumental in driving our project to success.
    </p>

    <p>
        <strong>Hannan Butt</strong><br>
        Role: Project Manager <br>
        Hannan Butt spearheaded the dataset gathering and curation process, laying a solid foundation for our annotator app. With his efforts, we acquired a comprehensive news dataset comprising both false and true news, providing the backbone for accurate labeling. Additionally, Hannan contributed to the frontend development, ensuring a user-friendly interface for our app.
    </p>

    <p>
        <strong>Abdullah Nadeem</strong><br>
        Role: Team Member <br>
        Abdullah Nadeem led the frontend development of our annotator app, bringing his expertise in crafting engaging user interfaces to the forefront. His multifaceted skills, spanning frontend development and documentation, significantly contributed to the success of our project. Abdullah's dedication and attention to detail were pivotal in shaping the user experience of our app.
    </p>

    <h3>Collaboration at University of the Punjab, Gujranwala Campus</h3>
    <p>Our collaborative efforts are nurtured within the vibrant academic environment of the University of the Punjab, Gujranwala Campus. This esteemed institution has provided us with the resources, guidance, and inspiration to explore innovative solutions in the realm of technology and information science.</p>
    <h3>Special Thanks To:</h3>
    <ul>
        <li>Sir Burhan</li>
        <li>Sir Moodser</li>
    </ul>
    <h3>Contact Us</h3>
    <p>We value collaboration and welcome feedback. Feel free to reach out to us at hannanbutt1256@gmail.com or shabirajput321@gmail.com for inquiries, suggestions, or potential collaborations. Thank you for being part of our journey towards a more informed and connected world.</p>

    <p>Stay tuned for updates as we continue to refine and expand our Urdu News Annotator App.</p>
</main>
