@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    

    <address>
        Punjab University Gujranwala campus<br />
        <abbr title="Phone">P:</abbr> -------------
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:shabirajput321@gmail.com">shabirajput321@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:hannanbutt1256@gmail.com">hannanbutt1256@gmail.com</a>
    </address>
</main>
